* {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    margin: 0;


    user-select: none;
    /*may as well include old browsers*/


    -moz-user-select: -none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;


}

.section {
    width:100%;
    height: 100vh;
}

#page-1 {background-color:#fff;}

#page-2 {
    background-color:#303133;
    color: white;
}

#page-3 {background-color:#fff;}


.header {
    display: flex;
    justify-content: center;
    max-width:800px;
    margin:0 auto;
    padding:40px;
}

.header img {
    width: 100%;
    height: 100%;
}


.flex-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.flex-left {
    width: 50%;
    margin: 10px;
}

iframe{
    border-radius: 20px;
}

.flex-right {
    text-align: center;
    color: #000;
    margin: 10px;
    width: 50%;
}

.flex-right h1 {
    margin-top: 15%;
}


.buttons{
    display: flex;
    justify-content: center;
}
         
#btn-grad1 {
    background-image: linear-gradient(to right, #12eafa  0%, #0084ff  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    color: white;            
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    border-radius: 30px;
    display: block;
    }

#btn-grad1:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

#btn-grad1:active {
    transform: scale(0.9, 0.9);
    transition: transform 0.1s ease-in-out;
}
         
#btn-grad2 {
    border: none;
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    color: white;            
    border-radius: 30px;
    display: block;
}

#btn-grad2:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

#btn-grad2:active {
    transform: scale(0.9, 0.9);
    transition: transform 0.1s ease-in-out;
}

#btn-grad1 a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

#btn-grad2 a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

hr {
    width: 50% ;
    height: 2px;
    background-color: #000;
    border-style: solid;
    border-radius: 20px;
}

.sitemap {
    margin: auto;
    background-color: #303133;
    border-radius: 40px;
    padding: 10px;
    width: 30%;
}

.sitemap a {
    color: #b383fc;
    text-decoration: none;
    margin: 5px;
    transition: color 1s;
}

.sitemap a:hover{
    /*bla bla bla i cant be fucked to do fancy animations */
    opacity: .8;
    color: #fff;
}


.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {   
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}



.media {
    display: flex;
    justify-content: center;
    max-width:800px;
    margin:0 auto;
}

.media img {
    padding: 20px;
    border-radius: 40px;
    width: 100%;
    height: 100%;
}

.gallery {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    width: 80%;
/*    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
*/    border-radius: 100px;
}
.gallery input[name$="control"] {
    display: none;
}
.gallery .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    height: 70vh;
    width: 100%;
}
.gallery .wrap {
    width: 100%;
    height: 100%;
    position: static;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-right: 20px;
}
.gallery .wrap figure {
    padding: 10px;
    height: 100%;
    min-width: 100%;
    -webkit-transition: opacity 0.25s ease-in-out 0.05s;
    transition: opacity 0.25s ease-in-out 0.05s;
    position: relative;
    left: 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
}
.gallery .wrap figure label {
    cursor: zoom-in;
    height: auto;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.gallery .wrap figure img {
    cursor: inherit;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.gallery .thumbnails {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #424242;
    border-radius: 10px;
    min-width: 60px;
    max-height: 100%;
    height: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 10px;
    z-index: 20;
}
.gallery .thumbnails .thumb {
    min-width: 60px;
    height: 60px;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    opacity: 0.7;
    margin: 5px 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    left: 0;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-repeat: no-repeat;
}
.gallery .thumbnails .slider {
    position: absolute;
    display: block;
    width: 5px;
    height: calc(60px + 10px);
    z-index: 2;
    margin: 0;
    left: 0;
    -webkit-transition: all 0.33s cubic-bezier(0.3, 0, 0.33, 1);
    transition: all 0.33s cubic-bezier(0.3, 0, 0.33, 1);
}
.gallery .thumbnails .slider .indicator {
    width: 100%;
    height: 30px;
    max-height: calc(100% - 10px);
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #428BFF;
    border-radius: 1px;
}
.gallery input#fullscreen:checked ~ .wrap figure {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.gallery input#fullscreen:checked ~ .wrap figure label {
    cursor: zoom-out;
}
.gallery input#fullscreen:checked ~ .wrap figure label img {
    -webkit-animation: shadow 0.2s;
    animation: shadow 0.2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    border-radius: 0;
}
.gallery input#image1:checked ~ .wrap figure {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.gallery input#image1:checked ~ .wrap figure:not(:nth-of-type(1)) {
    opacity: 0;
}
.gallery input#image1:checked ~ .thumbnails .slider {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.gallery input#image1:checked ~ .thumbnails .thumb:nth-of-type(1) {
    opacity: 1;
    cursor: default;
}
.gallery input#image2:checked ~ .wrap figure {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.gallery input#image2:checked ~ .wrap figure:not(:nth-of-type(2)) {
    opacity: 0;
}
.gallery input#image2:checked ~ .thumbnails .slider {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.gallery input#image2:checked ~ .thumbnails .thumb:nth-of-type(2) {
    opacity: 1;
    cursor: default;
}
.gallery input#image3:checked ~ .wrap figure {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}
.gallery input#image3:checked ~ .wrap figure:not(:nth-of-type(3)) {
    opacity: 0;
}
.gallery input#image3:checked ~ .thumbnails .slider {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}
.gallery input#image3:checked ~ .thumbnails .thumb:nth-of-type(3) {
    opacity: 1;
    cursor: default;
}
.gallery input#image4:checked ~ .wrap figure {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}
.gallery input#image4:checked ~ .wrap figure:not(:nth-of-type(4)) {
    opacity: 0;
}
.gallery input#image4:checked ~ .thumbnails .slider {
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
}
.gallery input#image4:checked ~ .thumbnails .thumb:nth-of-type(4) {
    opacity: 1;
    cursor: default;
}

@-webkit-keyframes full {
    from {
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
    }
    to {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes full {
    from {
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
    }
    to {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}
@-webkit-keyframes shadow {
    from {
        box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0), 0 0 10vmin rgba(13, 21, 31, 0);
    }
    to {
        box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0.6), 0 0 10vmin rgba(13, 21, 31, 0.6);
    }
}
@keyframes shadow {
    from {
        box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0), 0 0 10vmin rgba(13, 21, 31, 0);
    }
    to {
        box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0.6), 0 0 10vmin rgba(13, 21, 31, 0.6);
    }
}





/* Responsiveness */

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

.flex-left {
    width: 100%;
    margin: 10px;
}

iframe{
    border-radius: 20px;
}

.flex-right {
    text-align: center;
    color: #000;
    margin: 10px;
    width: 100%;
}

#page-2 {
    display: none;
}

.arrows {
    display:none;
}

}


